BODY {background-color:white; border:20px solid #a9a9a9; margin:0; font-family: "Arial","Verdana","Helvetica","Geneva","sans-serif"; color:black;}
.header-blank {background-color:white;}
.header-quadrat {background-color:#587D91;}
.header-zufall {background-color:#003B53;}
.header-text { font-size:17px; background-color:#003B53; width:90%; color:#A1A1A1; font-family: arial, helvetica, sans-serif; white-space:nowrap; font-weight: bold; padding:20px 8px;} 
.header-text table {position:relative; top:27px;}
.header-text td {text-align:right; border-right:1px solid white; padding:5px 15px} /*height:30px;*/
.header-text a:link {font-weight:normal; color:white; text-decoration:none;}
.header-text a:visited {color:#CCC; text-decoration:none;}
.header-text a:active {color:white; text-decoration:underline;}
.header-text a:hover {color:white; text-decoration:underline;}

.navbar-tabelle {border-top:1px solid #CCC; border-bottom:1px solid #CCC;}
.navbar { text-align:center; border-right:1px solid #CCC; background-color:white;} 
.navbar a:link{ color:#666; text-decoration:none; } 
.navbar a:visited { color:#999; text-decoration:none; } 
.navbar a:active { color:#666; text-decoration:underline; } 
.navbar a:hover { color:#666; text-decoration:underline; } 
.navbar-selected { background-color: #003B53; color: white; text-align: center; padding:5px 0; border-right:1px solid #CCC; } 
td.navbar { padding-left: 15px; padding-right: 15px; }
td.navbar-selected { padding-left: 15px; padding-right: 15px; }

.footer { background-color:white; padding:6px; text-align:right;}
.footer a:link {color:#666; text-decoration:none; border-right:1px solid #CCC; padding:8px; }
.footer a:visited {color:#999; text-decoration:none;}
.footer a:active {color:#666; text-decoration:underline;}
.footer a:hover {color:#666; text-decoration:underline;}

.navbar-all {border-top:1px solid #CCC; border-bottom:1px solid #CCC; text-align:center; border-right:1px solid #CCC; background-color:white; color:#666; text-decoration:none; font-weight: bold;}
.bt {border-top:1px solid #CCC; border-bottom:1px solid #CCC; text-align:left; border-right:1px solid #CCC; background-color:white; color:#666; text-decoration:none; font-weight: bold;font-size:14px;}
.Pulldown {background-color:#6B96AD; color:white;}
.Gate { padding:5px 15px;}
H1 {font-size:16px; color:#999; margin:10px;}
H2 {font-size:14px; color:#999; margin:10px; font-weight:bold;}
H3 {font-size:14px; color:#999; margin:10px;}

.element {border-bottom:1px solid #CCC; margin:20px 0 0 20px; width:95%;}

.element-header-text {border-bottom:1px solid #CCC;font-size:14px; font-weight:bold; color:#999; margin:0;}
.element-header-buttons { BACKGROUND: white; COLOR: #003366; WHITE-SPACE: nowrap;}
.element-header-button {BACKGROUND: #003366; COLOR: #003366;}

.element-content {padding:4px 0; font-size:11px; background-color:#EFF5F9;}
.element-content a:link {color:black; text-decoration:none; padding-left:5px;}
.element-content a:visited {color:#333; text-decoration:none}
.element-content a:active {color:black; text-decoration:underline}
.element-content a:hover {color:black; text-decoration:underline}
.element-content H2 {font-size:12px; font-weight: bold; color:#999; margin:0; margin-left: 5px; }
.element-content H3 {font-size:12px; color:#999; margin:0; margin-left: 5px; }

.element-text {padding:4px 0; font-size:11px; background-color:#EFF5F9;}
.element-text a:link {color:black; text-decoration:none; padding-left:5px;}
.element-text a:visited {color:#333; text-decoration:none}
.element-text a:active {color:black; text-decoration:underline}
.element-text a:hover {color:black; text-decoration:underline}
.element-text H2 {font-size:12px; font-weight: bold; color:#999; margin:0; margin-left: 5px; }
.element-text H3 {font-size:12px; color:#999; margin:0; margin-left: 5px; }

.table-content-header-standard {background-color:#587D91; text-align:left;}

.table-content {padding:4px 0; font-size:11px; background-color:#EFF5F9;}

.element-text a:link {color:black; text-decoration:none; padding-left:5px;}
.element-text a:visited {color:#333; text-decoration:none}
.element-text a:active {color:black; text-decoration:underline}
.element-text a:hover {color:black; text-decoration:underline}
.element-text H2 {font-size:12px; font-weight: bold; color:#999; margin:0; margin-left: 5px; }
.element-text H3 {font-size:12px; color:#999; margin:0; margin-left: 5px; }

.dark-line {}
.light-line {}

STRONG.table-header {BACKGROUND: #6DB2C9; FONT-SIZE: small; FONT-FAMILY: Arial, Helvetica, sans-serif; }
TR.table-header {BACKGROUND: #6DB2C9; COLOR: white; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: small;}
.selected {BACKGROUND: #003366; COLOR: white; FONT-FAMILY: Arial, Helvetica, sans-serif; font-weight: bold;BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none;}
.z_light {BACKGROUND: #EAF0F2;}
.z_dark {BACKGROUND: #C9D7DC;}
.main_color {COLOR: #003366;}
.table-title {BACKGROUND: #C9D7DC;}
.cal-week {BACKGROUND: #EAF0F2;VALIGN: top;}
.cal-table-header { BACKGROUND: #DDEEFF; color: #000000; margin: 0px; padding: 0px; font-weight: bold; }
.cal-week-event {BACKGROUND: #C9D7DC;}
.cal-month {font-weight: bold; background-color: #C9D7DC; text-align: center; line-height: 160%;}
.cal-month-day {BACKGROUND: #C9D7DC; BORDER: 1px c0c0c0 solid; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 1px ;}
.cal-month-today {BACKGROUND: #003366; BORDER-RIGHT: grey 1px solid; BORDER-TOP: grey 1px solid; BORDER-LEFT: grey 1px solid; BORDER-BOTTOM: grey 1px solid;}
.table-display {BORDER-RIGHT: #003366 1px solid; BORDER-TOP: #003366 1px solid; BORDER-LEFT: #003366 1px solid;BORDER-BOTTOM: #003366 1px solid;}
.portal-page-config {BACKGROUND: #C9D7DC; WIDTH: 700px; CELLPADDING: 5;}
.bottom-border {BORDER-Bottom: #003366 1px solid;}
.center {ALIGN: center;}

.portletSchmal {margin:20px 0 0 20px; width:95%;}
.portletBreit {margin:20px 0 0 20px; width:95%}
.portletTitelZeile {border-bottom:1px solid #CCC;}
	.portletTitelZeile H1, .portletInhalt H1 {font-size:14px; color:#999; margin:0; }
.portletInhalt {padding:4px 0; font-size:11px; background-color:#EFF5F9;}
	.portletInhalt a:link {color:black; text-decoration:none; padding-left:5px;}
	.portletInhalt a:visited {color:#333; text-decoration:none}
	.portletInhalt a:active {color:black; text-decoration:underline}
	.portletInhalt a:hover {color:black; text-decoration:underline}
	.portletInhalt H2 {font-size:12px; font-weight: bold; color:#999; margin:0; margin-left: 5px; }
	.portletInhalt H3 {font-size:12px; color:#999; margin:0; margin-left: 5px; }
.portlet td {vertical-align:middle;}
.portletBottomZeile {border-top:1px solid #CCC;}
.portlet-button {background-color:#A2BFCF;margin-left:5px;}
.odd {background-color:#D4E2EA;}
.even {background-color:#EAF0F2;}
.zeit-tabelle {width:100%;}
.zeit-tabelle td {padding:2px 5px}
.bt {padding:4px 0; font-size:13px; background-color:#EFF5F9;}
	.bt a:link {color:black; text-decoration:none; padding-left:5px;}
	.bt a:visited {color:#333; text-decoration:none}
	.bt a:active {color:black; text-decoration:underline}
	.bt a:hover {color:black; text-decoration:underline}
	.bt H2 {font-size:13px; font-weight: bold; color:#999; margin:0; margin-left: 5px; }
	.bt H3 {font-size:13px; color:#999; margin:0; margin-left: 5px; }
#head-area, #head-area a, #footer-area, #footer-area a {font-family: arial, helvetica, sans-serif; font-size:11px; }
#head-area td, #footer-area td {vertical-align:middle}
