BODY {
    FONT-WEIGHT: normal; 
    FONT-SIZE: small; 
    BACKGROUND: white; 
    COLOR: black; 
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

H2 {
   FONT-FAMILY: Arial, Helvetica, sans-serif;
   FONT-SIZE: medium;
   FONT-WEIGHT: bold;
}

H2.portal-page-name {
    FONT-WEIGHT: bold; FONT-SIZE: medium; COLOR: black; FONT-FAMILY: Arial, Helvetica, sans-serif; margin-top: 5px; margin-left: 5px;
}

A {
    COLOR: #003399;
	
}
A:visited {
    COLOR: #666666;
}

UL {
    MARGIN-TOP: 0px;
}
UL UL LI {
    LIST-STYLE-IMAGE: url(/resources/dotlrn/dash.gif);
}
SMALL {
    FONT-SIZE: xsmall;
}
IMG.header-img {
    BACKGROUND: white; 
    COLOR: white;
}
.header-logo {
    BACKGROUND: white; 
    WIDTH: 100px; 
    COLOR: white;
    PADDING-RIGHT: 35px;
    PADDING-BOTTOM: 10px;
}
TD.element-text {
    FONT-SIZE: small; 
    BACKGROUND: white; 
    FONT-FAMILY: Arial, Helvetica, sans-serif;
}
TH.element-text {
    BACKGROUND: white; 
    FONT-SIZE: small; 
    FONT-FAMILY: Arial, Helvetica, sans-serif; 
}
TABLE.element-content {
	padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px
}

.element {
    BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none;
}

.no-border {
    BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none;
}

.footer {
    FONT-SIZE: x-small;
}

TABLE.portlet-config {
    BACKGROUND: white;
    CELLPADDING:5px;
    CELLSPACING: 5px;
}


a.button { 
  border-width: 1px; 
  border-style: solid; 
  text-align: center; 
  border-color: #999999; 
  background-color: #107AAE;
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
}
a.button:link { 
  color: white;
  text-decoration: none;
}
a.button:visited { 
  color: white;
  text-decoration: none;
}
a.button:hover { 
  color: #cccccc;
  text-decoration: none;
}

div.general-message {
  background-color: #ccff99; 
  padding: 4px;
}
